// main: ../../../scss/index.scss
.heading{
  padding-top: 20px;
  padding-bottom: 20px;
}

.secondHeading{
  padding-top:40px;
}

span{
  color:$color-secondary;
}
.container .nHover {
  transition: 200ms;
  &:hover{
  background-color: $color-secondary;
  color:white;
  transition: 200ms;
}
}

.title-border-b {
  border-bottom: 1px solid #ebebeb;
}
