// main: ../index.scss

.behindFooter{
  background-color: $color-primary-dark;
  color: white;
  & p{
    line-height: 18pt;
  }
}

.footerHeading{
  font-weight: bold;
  font-size: 14pt;
  padding-bottom: 10px;
}

.wetter{
  background-color: $color-primary-light;
  height:150px;
}

.links{
  color:white;
  &:hover{
  color: $color-secondary;
  }
  a{
    color: white;
    font-size: 1em;
    }
  a:hover{
    color: $color-secondary;
  }
}

.footer-light-l {
  font-size: 0.9em;
  color: $color-primary-light;
}

.footer-b {
  &-b {
    border-bottom: 1px solid $color-tertiary-dark;
  }
  &-r {
    border-right: 1px solid $color-tertiary-dark;
  }

}
