// main: ../../../scss/index.scss
.terminBild{
    max-width: 300px;
    height: 200px;
    background-color: $color-primary-dark;
    left:0
}
.team-card {
  width: 100%;
  height: auto;
  background-color: white;
}
