// main: ../../../scss/index.scss

.termin-card {
  width: 100%;
  height: auto;
  background-color: white;
  .row {
    .column {
      img {
        width: 100%;
        height: auto;
      }
      .placeholder_img {
        height: auto;
        min-height: 150px;
        background-color: #2b2b2b;
      }
    }
  }
  &:hover {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.23);
    transition: 200ms;
  }
}

.termine{
  color: black;

span{
  font-size: 1.1rem;
  color:$color-primary-dark;
  }
}

.t-pt {
  padding-top: 15px;
  color: $color-primary;
  font-size: 1rem;
}
