//main: ../../../scss/index.scss

.red-title-bg {
  background-color: $color-secondary;
  color: white;
  margin-top: 25px;
  margin-bottom: 5px;
}

.einsatz-card-full {
  margin-top: 5px;
  margin-bottom: 5px;
  .einsatz-card-title {
    background-color: white;
    height: auto;
    padding: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.einsatz-info-container {
  overflow: hidden;
  background-color: white;
  transition: 300ms;
  padding: 20px;
  height: 100%;

  .slick-slider {
    width: 100%;
  }

  &.e-closed {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    overflow: hidden;
    transition: 200ms;
  }
  &.e-open {
    overflow: hidden;
    height: auto;
    padding: 20px;
    transition: 300ms;
    border-top: 0px solid #ebebeb;
  }
}

.image-icon {
  width: 30px;
  height: auto;
}


.opener {
  &:after {
    display: block;
    content: "+";
    position: absolute;
    right: 25px;
    font-size: 1.2em;
    font-weight: 600;
  }
}
.closer {
  &:after {
    display: block;
    content: "-";
    position: absolute;
    right: 25px;
    font-size: 1.2em;
    font-weight: 600;
  }
}

.e-pb {
  padding-bottom: 15px;
}

.e-ptb-s {
  padding-top: 8px;
  padding-bottom: 3px;
}

.b-all {
  border: 1px solid #ebebeb;
}

.b-r {
  border-right: 1px solid #ebebeb;
}

.b-b {
  border-bottom: 1px solid #ebebeb;
}

.b-t {
  border-top: 1px solid #ebebeb;
}

.b-l {
  border-left: 1px solid #ebebeb;
}

.fa-link {
  a {
    font-size: 1rem;
  }
}
